body{
  background-color: #f2f2f2;
  font-size: 16px;
  margin:0px auto;
  padding:0;
  text-align: justify;
  text-justify: inter-word;
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}   
nav{
  background-color: transparent !important;
  font-family: 'Spinnaker', sans-serif !important;
  margin-left: 10% !important;
  width: 80% !important;
  box-shadow: none !important;

}


nav ul li a{
  color: #79cea9;
  
}    
table {
  table-layout: fixed;
  
  width: 85%;
}
td, tr {
  padding: 20px;
  text-align: left;  

}
td{
  
}
th{
  display: block;
  padding: 0 0rem;
  background-color: #fff;
}
.th i {
  width: 2rem;
  font-size: 1.6rem;
  line-height: 3rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}
.collapsible-header{
  cursor: initial !important;

}

hr{
	display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #85e2ba; 
	width:71%;
	margin-left: 18.5%;
}
.top{
	border-style: solid;
  border-width: 100%;
  border-color: #85e2ba;
}
.container{
	width: 100% !important;

}
.icon-bg{
    color: #c0ffc0;
}

.icon-bgborder {
    color: grey;
}
.circle{
  width:50px;
  height:50px;
  border-radius:50px;
  font-size:20px;
  line-height:55px;
  text-align:center;
  background: #d1d1d1;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.page-footer {
    background-color: #79cea9 !important;
}

li.active{
    background: transparent !important;
    text-decoration: underline;
    cursor: auto !important;

}

li.active a:hover {
    background: #f2f2f2 !important; /*the default color*/
    cursor: initial !important;
}
#main {
    flex: 1 0 auto !important;
}