nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav li {
  display: inline-block;
  margin: 0 5px;
  transition: all 0.3s;
}
nav a {
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  display: block;
  color: #285064;
  transition: all 0.3s;
  text-decoration: none;
}
nav a:hover {
  color: #12242d;
}
nav span {
  display: block;
}

@media all and (min-width: 690px) {
  nav li {
    margin: 0;
    transform: skewX(-10deg);
  }
  nav a {
    padding: 10px 20px;
    color: #fff;
    background-color: #285064;
  }
  nav a:hover {
    color: #fff;
    background-color: #12242d;
  }
  nav span {
    transform: skewX(10deg);
    width: 80px;
  }
}

.navRight ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
.navRight li {
  display: inline-block;
  margin: 0 5px;
  transition: all 0.3s;
}
.navRight {
  display: block;
  color: #285064;
  transition: all 0.3s;
  text-decoration: none;
}
.navRight a:hover {
  color: #12242d;
  text-decoration: none;
}
.navRight span {
  display: block;
}


@media all and (min-width: 690px) {
  #navRight li {
    margin: 0;
    transform: skewX(25deg);
  }
  #navRight a {
    text-align: center;
    padding: 10px 20px;
    color: #fff;
    background-color: #285064;
  }
  #navRight a:hover {
    color: white;
    background-color: #12242d;
  }
  #navRight span {
    transform: skewX(-25deg);
    width: 80px;
  }
}